/* Style page content */

.title-text {
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  
}

.info-text {
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 45px;
  position: absolute;
  bottom: 0;
}

.linkedin-link {
  font-size: 14px;
  color: rgb(95, 95, 95);
}
 
 /* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b0591c;
  overflow-x: hidden;
  font-family: 'Belleza', sans-serif;
  
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  margin-top: 5px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Style the dropdown sidenav links */
.sidenav div a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #e49494;
}

.profile {
  background-color: #bc6225;
  height: 150px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
/* Profile picture */
.profile img {
  width: auto;
  max-height: 130px;
  position: relative;
}

.profile h1 {
  color: white;
  padding-left: 16px;
}


.horizontal-rect {
  float: left;
  position: absolute;
  background-color: white;
  z-index: 1000;
  width: 100%;
  height: 20px;
  top: 130px;
  background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* Main content */
.main {
  padding: 0px 10px 10px 0px;
  height: 100%;
  width: 100%;
  position: fixed;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #b0591c;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  background-color: #bc6225;
  padding-left: 20px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
} 

a#selected {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  left: 250px; /* Same as the width of the sidenav */
  float: none;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-right: 5%;
  max-width: 1200px;
  margin-top: 20px;
  margin-left: 2%;
}

.gallery {
  position: relative;
  height: 100%;
  left: 0;
  right: 0;
  float: none;
  max-width: 1200px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  padding-left: 60px;
  padding-right: 60px;
  height: auto;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  text-align: center;

}

.mySlides img {
  -webkit-box-shadow: 1px 1px 5px 4px rgba(135,135,135,1);
  -moz-box-shadow: 1px 1px 5px 4px rgba(135,135,135,1);
  box-shadow: 1px 1px 5px 4px rgba(135,135,135,1);
  border:1px solid #ffffff;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  background-color: rgb(139, 139, 139);
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px 3px 3px 3px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px 20px;
  top: 0;
}

.mySlides .text {
  padding:  10px 0;
  font-size: 20px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  text-align: center;
  padding-left:1%;
  padding-right:1%;
  max-width:100px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.row {
  right:0;
  left:0;
  height:90px;
  padding-left: 80px;
  padding-right: 80px;
}

.slider-container {
  max-width: 1200px;
  right:0px;
  left:0;
  bottom:0;
  position:absolute;
}

.left {
  left: -15px;
  top: 250px;
  z-index: 10;
}

.gallery-container {
  top:0;
  left:0;
  right:0;
  height:100%;
}

/* Thumbnail Carousel */

/* Elastislide Style */

.elastislide-list {
	list-style-type: none;
  display: none;
  text-align: center;
}

.no-js .elastislide-list {
	display: block;
}

.elastislide-carousel ul li {
  min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
	position: relative;
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.elastislide-horizontal {
	padding: 10px 60px;
}

.elastislide-vertical {
	padding: 40px 10px;
}

.elastislide-carousel {
	overflow: hidden;
	position: relative;
}

.elastislide-carousel ul {
	position: relative;
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.elastislide-horizontal ul {
	white-space: nowrap;
}

.elastislide-carousel ul li {
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
	height: 100%;
	display: inline-block;
}

.elastislide-vertical ul li {
	display: block;
}

.elastislide-carousel ul li a {
	display: inline-block;
  width: 100%;
  padding: 5px;
}

.elastislide-carousel ul li a img {
	display: block;
	border: 1px solid rgb(136, 136, 136);
  max-width: 100%;
  height: auto;
  padding: 3px;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(139, 139, 139);
  width: 23px;
	height: 23px;
	text-indent: 8px;
	cursor: pointer;
  opacity: 0.8;
  font-weight: bold;
  font-size: 40px;
  margin-top: -30px;
}

.elastislide-wrapper nav span:hover {
	opacity: 1.0
}

.elastislide-horizontal nav span {
	top: 50%;
  left: 10px;
}

.elastislide-vertical nav span {
	top: 10px;
	left: 50%;
	margin-left: -11px;
	background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
	right: 10px;
	left: auto;
	background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
	bottom: 10px;
	top: auto;
	background-position: -17px -18px;
}